*,html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

section{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

article{
    margin-left: 10px;
    border: 3px solid darkred;
}

article:first-child{
    margin-left: 0;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.image-wrap{
    position: relative;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.status{
    position: absolute;
    top: 85%;
    right: 15%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: darkgreen;
}